<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>会员管理</title>
    <link th:href="@{/static/css/layui.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="position: unset;float: left">后台管理</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                <a href="javascript:;" layadmin-event="flexible" class="hideMenu" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);" target="content">基本资料</a></dd>
                    <dd><a href="javascript:void(0);" id="model">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <form name="out" th:action="@{/logout}" method="post">
                    <a href="javascript:document.out.submit();">退出</a>
                </form>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon"></i><cite> 会员管理 </cite></a>
                    <dl class="layui-nav-child">

                        <dd>
                            <a th:href="@{/user/list}" target="content"><i class="layui-icon"></i><cite th:text="会员管理"></cite></a>
                        </dd>

                        <dd>
                            <a th:href="@{/log}" target="content"><i class="layui-icon"></i><cite th:text="日志管理"></cite></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--<div style="padding: 15px;" id="content">-->
        <iframe name="content" id="content" src="/user/list"></iframe>
        <!--</div>-->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © cly00.top
    </div>
</div>
<script th:src="@{/static/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer'], function () {
        var element = layui.element,
            layer = layui.layer;
        $ = layui.jquery;
        $(function () {
            $(".hideMenu").on("click", function () {
                $('#LAY_app_flexible').removeClass("layui-icon-shrink-right");
                $('#LAY_app_flexible').addClass("layui-icon-spread-left");
                var oClass = $(".layui-side").hasClass("mini");
                if (!oClass) {
                    $(".layui-side").animate({
                        width: "50px"
                    })
                    $(".layui-body").animate({
                        left: "50"
                    })
                    $(".layui-footer").animate({
                        left: "50"
                    })
                } else {
                    $('#LAY_app_flexible').removeClass("layui-icon-spread-left");
                    $('#LAY_app_flexible').addClass("layui-icon-shrink-right");
                    $(".layui-side").animate({
                        width: "200px"
                    })
                    $(".layui-body").animate({
                        left: "200"
                    })
                    $(".layui-footer").animate({
                        left: "200"
                    })

                }
                $(".layui-side").toggleClass("mini");
            });
            //mini 模式下添加 tips
            $('.layui-nav-tree a').hover(function () {
                if ($(".layui-side").hasClass('mini')) {
                    var tipText = $(this).find('cite').text();
                    layer.tips(tipText, this);
                }
            }, function () {
                layer.closeAll('tips');
            });

        });

        //修改密码窗口
        $('#model').on('click', function () {
            layer.open({
                type: 2 //Page层类型
                , skin: 'layui-layer-molv'
                , area: ['460px', '320px']
                , title: ['更新密码', 'font-size:18px']
                , shadeClose: true
                , shade: 0 //遮罩透明度
                , maxmin: true //允许全屏最小化
                , content: '/sys/altPwd'
            });
        });

    });
</script>
</body>
</html>