<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>开始使用layui</title>
    <link th:href="@{/css/layui.css}" rel="stylesheet">
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{field:'username', width:80}">用户名</th>
        <th lay-data="{field:'phonenumber', sort: true, width:80}">电话</th>
        <th lay-data="{field:'email', width:80}">邮箱</th>
        <th lay-data="{field:'createtime', sort: true , width:80}">创建时间</th>
        <th lay-data="{field:'modifytime', sort: true, width:80}">修改时间</th>
        <th lay-data="{fixed: 'right', width:80, toolbar: '#barDemo'}"></th>
    </tr>
    </thead>
    <div th:each="user:${users.list}">
        <tbody>
        <tr>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.createdTime}"></td>
            <td th:text="${user.modifiedTime}"></td>
        </tr>
        </tbody>
    </div>
</table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/layui.js}"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test',
            cellMinWidth: 80,
            title: '用户数据表',
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

    });
</script>
</body>
</html>